<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gostas de viajar e procuras sempre pela melhor opção?</h2>
                <hr class="light">
                <p class="text-faded">Nós temos o que precisas! Ajudamos-te a planear as tuas viagens e a encontrar as melhores opções para ti. Pede já o teu orçamento gratuito!</p>
                <a href="https://forms.gle/KgHz67oAYHM8ALCH8" target="_blank" class="btn btn-default btn-xl">Orçamento grátis!</a>
                <p class="text-faded">Consultora Independente iCliGo</p>
                <p class="text-faded">RNVAT - 3301</p>
            </div>
        </div>
    </div>
</section>
