<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">As nossas ofertas</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Destinos variados</h3>
                    <p class="text-muted">Seja praia, cultura, diversão, aventura, romanticos ou simplesmente descanso.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Orçamentos Gratuitos</h3>
                    <p class="text-muted">E sem compromisso! Personalizados e adequados a cada carteira.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Apoio</h3>
                    <p class="text-muted">Antes, durante e depois da viagem. 24h por dia e 7 dias por semana.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dedicação</h3>
                    <p class="text-muted">Planeamos todas as viagens como se fossem as nossas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
